body {
    font-family: 'Arial', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ed760;
}

img {
    margin-top: 20px;
    max-width: 100%;
}

.personality-type {
    display: block; 
    font-size: 70px;
    color: #1db954; 
    font-weight: bold;
}

ul {
    list-style-type: none; 
    padding: 0;
    display: inline-block;
}

#personalityTraits li {
    font-size: 1rem; 
    display: inline-block;
    margin-bottom: 5px; 
    font-weight: bold;
}

#personalityTraits li:not(:last-child)::after {
    content: "|";
    margin-left: 55px; 
    margin-right: 20px;
}

li {
    font-size: 1rem; 
    margin: 20px; 
}

#weeklyButton[disabled], #monthlyButton[disabled] {
    background-color: #1db954; 
    color: #ffffff; 
    cursor: not-allowed; 
}

#weeklyButton, #monthlyButton {
    background-color: #dddddd; 
    color: #999999;
}


#weeklyAnalytics, #monthlyAnalytics {
    overflow: hidden; /* Clear floats */
}
#weeklyAnalytics ul,
#monthlyAnalytics ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left; 
    width: 50%; 
}
#weeklyAnalytics ul:nth-child(2),
#monthlyAnalytics ul:nth-child(2) {
    float: right; 
}
