<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Spotify Wrapped</h1>
        <p>Please enter your user_id:</p>
        <form method="POST">
            <input type="text" name="user_input">
            <button type="submit">Wrap!</button>
        </form>
    </div>
</body>
</html>
