<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to your Wrapped!</h1>
        <div>
            <p>User ID: <span>{{ user_id }}</span></p>
            <br>
            <p>Your listening personality type is:</p>
            <p><span class="personality-type">{{ personality_type }}</span></p>
            <ul id="personalityTraits">
                {% for trait in personality_traits %}
                <li>{{ trait }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
